:root {
    --primary-color: rgb(4, 45, 100);
    --secondary-color: rgb(8, 26, 61);
    --tertiary-color: #0B9EDC;
    --border-color: rgb(255, 166, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    width: 100vw;
    background-color: var(--primary-color);
    color: #ccc;
    overflow-x: hidden;
}

body p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.container_bunner {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(30px);
    position: fixed;
    z-index: 2;
}

.header_container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.sobre_container,
.formacao_container,
.habilidades_container,
.projetos_container,
.contato_container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 80%;
}

.nome {
    display: flex;
    position: relative;
}

.nome .logo a,
.logo-md a {
    text-decoration: none;
    color: inherit;
}

.canto-sup {
    position: absolute;
    width: 2.5rem;
    height: 1.5rem;
    box-shadow: -3px -3px 0 var(--border-color);
    transform: translateX(-1rem)translateY(-.4rem);
}

.header_container nav {
    display: flex;
}

.hamburger_menu {
    position: absolute;
    /* width: 330px; */
    width: 100%;
    height: 265px;
    background-color: rgb(204, 204, 204, .9);
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    /* transform: translateX(-55px) translateY(5px); */
    right: 0;
    top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    gap: 1.3rem;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}

.menu_btn:checked+.menu_icon .nav-icon {
    background-color: transparent;
}

.menu_btn:checked~.header_menu {
    max-height: 100vh;
}

/* Animação do menu icon quando checked */
.menu_btn:checked+.menu_icon .nav-icon::before {
    transform: rotate(-45deg);
}

.menu_btn:checked+.menu_icon .nav-icon::after {
    transform: rotate(45deg);
}

.menu_btn:focus-visible+.menu_icon {
    background-color: #cccc;
    /* focus-visible só vai funcionar neste caso quando acontecer a navegação através do teclado e  não pelo mouse */
}

.header-menu:focus-within {
    max-height: 100vh;
}

.menu_icon {
    position: relative;
    cursor: pointer;
    user-select: none;
    align-items: center;
}

.nav-icon {
    position: absolute;
    background-color: white;
    display: inline-block;
    width: 20px;
    height: 1.5px;
}

.nav-icon::after,
.nav-icon::before {
    content: "";
    background-color: #ffffff;
    display: block;
    width: 20px;
    height: 1.5px;
    position: absolute;
    transition: .7s transform;
}

.nav-icon::after {
    content: "";
    transform: translateY(6px);
}

.nav-icon::before {
    content: "";
    transform: translateY(-6px);
}

nav ul li {
    padding-right: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--secondary-color);
    letter-spacing: .1rem;
    border-radius: 2px;
}

nav ul li a:hover {
    padding: .3rem .5rem;
    background-color: var(--tertiary-color);
    color: white;
}

/* Classe usada para esconder o checkbox*/
.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.capa {
    margin-top: 2rem;
    padding: 3rem 0;
    width: 100%;
    text-align: center;
}

.capa_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.capa_elementos {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 250px;
    position: relative;
}

.capa>.row {
    display: flex;
}

.retangulo {
    position: absolute;
    width: 1080px;
    height: 179px;
    background-color: var(--tertiary-color);
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    transform: translateX(-35px) translateY(30px);
    right: 0;
}

.logo,
.logo-md {
    font-weight: 350;
    font-size: 18px;
    padding-left: 0;
    letter-spacing: .1rem;
}

.logo-md {
    display: none;
}

.img_logo img {
    width: 240px;
    filter: drop-shadow(-14px 6px 0px #cccccc);
}

.texto_retangulo p {
    display: none;
}

.texto-capa {
    max-width: 18rem;
    text-align: center;
}

.texto-capa h1 {
    font-size: 2.5rem;
    margin: 2.5rem 0 1rem;
}

.texto-capa h2 {
    font-size: 1.5rem;
}

.texto-capa span {
    color: var(--tertiary-color);
}

.main_container {
    position: relative;
    background-color: var(--secondary-color);
    padding-bottom: 5rem;
}

.sobre,
.projetos,
.contato,
.footer {
    display: flex;
    position: relative;
    margin-top: 3rem;
    justify-content: space-between;
}

.sobre_container {
    margin-top: 3rem;
}

.sobre_foto {
    display: none;
    margin: 0;
}

.seta_media {
    position: relative;
    width: 2rem;
    height: 355px;
    right: 0;
    padding-right: 2rem;
    margin-top: 1.5rem;
    clip-path: polygon(0% 0%, 0% 95%, 50% 100%, 100% 95%, 100% 0%);
    background-color: var(--tertiary-color);
}

.sobre_texto {
    text-align: left;
    padding-right: 2rem;
    max-width: 450px;
}

h2 {
    font-size: 2rem
}

.sobre_texto h2 {
    padding-bottom: 1.5rem;
    margin-top: 5rem;
    color: var(--tertiary-color);
}

.sobre_texto h3,
p {
    margin-bottom: 1rem;
}

.sobre,
.formacao,
.habilidades,
.projetos {
    margin-top: 3rem;
}

.educação>p {
    text-align: center;
}

.educação p a abbr {
    text-decoration: none;
}

.info_section>.tittle,
.conteudo_habilidades .tittle {
    margin-top: 5rem;
    width: 100%;
    color: var(--tertiary-color);
}

.tittle>span {
    color: #ccc;
}

.info_section>.tittle {
    z-index: 2;
}


.educação {
    margin-top: 3rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.1rem;
    border: 2px solid var(--tertiary-color);
}

.educação p {
    padding: 1.7rem;
    text-align: center;
    font-size: 1.2rem;
    justify-self: auto;
    z-index: 1;
}

.educação p>a {
    color: inherit;
    text-decoration: none;
}


.conteudo_habilidades {
    width: 100%;
    height: 100%;

}

.habilidades_container {
    height: 100%;
}

.habilidades {
    margin-top: 3rem;
}


.projetos_container {
    flex-direction: column;
}

.novas_habilidades>ul,
.info_links a {
    text-decoration: none;
}

.novas_habilidades {
    margin-top: 3rem;
    padding: .4rem;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: 2px solid var(--tertiary-color);
}

.habilidade-icon {
    display: flex;
    justify-content: space-evenly;
    padding: 1.3rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.habilidade-icon li {
    width: 7.5rem;
    aspect-ratio: 1.1;
    list-style-type: none;
    background-color: var(--tertiary-color);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    text-align: center;
    align-content: center;
}

.habilidade-icon li>img {
    width: 4rem;
}

.habilidade-icon>.js {
    display: flex;
    justify-content: center;
    align-items: center;
}

.js_image img {
    width: 3rem;
    border-radius: 5px;
}

.js p {
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: bold;
    color: rgb(27, 27, 27);
    margin-bottom: 0;
}

/* Códigos alterados*/

.tittle_projetos {
    margin-top: 5rem;
}

.tittle_projetos h2>span, .contato_texto h2{
    color: var(--tertiary-color);
}

.tittle_projetos,
.contato_texto {
    width: 100%;
    text-align: left;
    margin: 3rem 0;
}


.blog,
.página-de-vendas,
.portifolio {
    /* width: 380px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
}


.blog a:nth-child(2),
.página-de-vendas a:nth-child(2),
.portifolio a:nth-child(2) {
    display: none;
}

.tecnologias {
    width: 100%;
    margin-top: 1.3rem;
    margin-bottom: 0;
}

.tecnologias-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    gap: .5rem;
}

.tecnologias div>p {
    margin: 0;
    width: 5rem;
    padding: .05rem 0;
    font-size: .8rem;
}

.tecnologias .html {
    background-color: rgb(190, 71, 34);
    border-radius: 2px;
}

.tecnologias .css {
    background-color: rgb(28, 77, 168);
    border-radius: 2px;
}

.tecnologias .j-script {
    background-color: rgb(214, 183, 7);
    border-radius: 2px;
    color: black;
}

.blog p,
.página-de-vendas p,
.portifolio p {
    width: 100%;
    font-size: 1.2rem;
}

.parágrafo-blog,
.parágrafo-página-de-vendas,
.parágrafo-portifolio {
    display: flex;
}

.parágrafo-blog p:nth-child(1),
.parágrafo-página-de-vendas p:nth-child(1),
.parágrafo-portifolio p:nth-child(1) {
    margin-top: 1rem;
}

.parágrafo-blog p:nth-child(2),
.parágrafo-página-de-vendas p:nth-child(2),
.parágrafo-portifolio p:nth-child(2) {
    margin-bottom: 0;
}

.blog p,
.página-de-vendas p,
.portifolio p {
    font-size: 1rem;
    margin-bottom: 0;
}

/*Slides*/

.slider {
    margin: 0 auto;
    width: 300px;
    /*Iportante delimitar a altura para esconder o próximo conteúdo*/
    height: 300px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    /*O valor do "width" depende da quantidade de imagens que estiver usando. Se usar 5, então o width será de 500%*/
    height: 100%;
}

.slides .slide a img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 2px #ccc);
}

.slides input {
    display: none;
}

.slide {
    width: 33.33%;
    /*O valor do "width" corresponde ao espaço ocupado por cada img. 100% / pela quantidade de imagens do projeto.  Se usar 3, então o width será de 33.33%*/
    position: relative;
    transition: 1.5s ease-in-out;
}

.slide img {
    width: 900px;
    height: 100%;
}

.manual-navigation {
    position: absolute;
    width: 300px;
    margin-top: 420px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    /* margin: .7rem; */
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.manual-btn:not(:last-child) {
    margin-right: 1.5rem;
}

.manual-btn:hover {
    background: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -33.33%;
}

#radio3:checked~.first {
    margin-left: -66.66%;
}

/* Fim das alterações do códigos*/

.contato_container {
    flex-direction: column;
}

.texto_links {
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    width: 100%;
}

.contato_texto p {
    max-width: 350px;
    margin-top: 4rem;
}

.links,
.info_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.info_links a {
    padding: .6rem .5rem;
    width: 100px;
    align-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: #ccc;
    border: 2px solid var(--tertiary-color);
}

.formulario-contato {
    width: 100%;
    font-size: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
}

.formulario>input {
    padding: .5rem;
}

.formulario>textarea {
    height: 10rem;
}

.formulario>input,
textarea {
    border: none;
    padding: .8rem;
}

/*Corrigir o seletor de atributos*/
/*Corrigido*/

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    font-size: .8rem;
    color: var(--primary-color);
}

input[type="text"]:placeholder-shown,
input[type="email"]:placeholder-shown,
textarea:placeholder-shown {
    background-color: #dfdfdf;
}

.btn {
    display: flex;
    justify-content: center;
    padding: .5rem;
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 140px;
    background-color: var(--secondary-color);
    cursor: pointer;
    border: none;
    color: #ccc;
    border: 2px solid var(--tertiary-color);
}

.btn:hover,
.info_links a:hover {
    background-color: var(--tertiary-color);
    color: #ccc;
    transition: .2s ease-in-out;
}

.btn img {
    width: 2rem;
    padding-left: .6rem;
}

.footer {
    position: relative;
    display: flex;
    margin-top: 5rem;
    margin: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    background-color: var(--primary-color);
}

.footer_content p {
    margin: 0;
    font-size: 1rem;
}

.canto_inferior {
    position: absolute;
    width: 2.5rem;
    height: 1.5rem;
    box-shadow: 3px 3px 0 var(--border-color);
    right: 6%;
    bottom: 25%;
}


/*Grid*/

@media screen and (min-width:36em) {

    .menu_btn,
    .menu_icon {
        display: none;
    }

    .header_container {
        justify-content: space-between;
        margin: 0;
    }

    .header_menu {
        background-color: none;
        clip-path: none;
        transform: none;
        top: 1.4rem;
        right: 3.5rem;
        display: flex;
        flex-direction: row;
        justify-content: right;
        text-align: center;
        align-content: center;
        margin: auto;
        gap: .5rem;
        font-weight: 300;
        overflow: visible;
    }

    .menu_btn:checked~.header_menu {
        max-height: 0;
    }

    .logo {
        display: none;
    }

    .logo-md {
        display: block;
    }

    .img_logo img {
        transform: translateX(-113px) translateY(10px);
    }

    .header_container nav {
        margin: 0;
    }

    nav ul {
        display: block;
        list-style-type: none;
    }

    nav ul li {
        display: inline-block;
        width: min-content;
        padding-right: 0;
    }

    nav ul li a,
    .link a {
        text-decoration: none;
        color: inherit;
        letter-spacing: .1rem;
        padding: .3rem .1rem;
        font-size: .83rem;
    }

    nav ul li a:hover {
        padding: inherit;
        border-bottom: 2px solid var(--border-color);
        background-color: inherit;
    }

    .retangulo {
        transform: translateX(-95px) translateY(39px);
    }

    .hexagono1 {
        position: absolute;
        width: 200px;
        height: 175px;
        background-color: var(--secondary-color);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        transform: translateX(20px);
    }

    .hexagono2 {
        position: absolute;
        width: 500px;
        height: 430px;
        background-color: var(--secondary-color);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        transform: translateX(-210px) translateY(160px);
    }

    .img_logo img {
        position: absolute;
        transform: translateX(-125px) translateY(10px);
        right: 0;
    }

    .texto-capa {
        z-index: 1;
    }

    .seta_media {
        display: none;
    }

    .sobre_foto {
        display: block;
        margin-top: 2rem;
    }

    .sobre_foto img {
        width: 200px;
    }

    .sobre_elementos {
        position: relative;
        top: 0;
        left: 0;
    }

    .hexagono4 {
        position: absolute;
        width: 420px;
        height: 355px;
        top: -30px;
        right: 12px;
        background-color: var(--primary-color);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }

    .hexagono6 {
        position: absolute;
        width: 400px;
        aspect-ratio: 1.2;
        flex-shrink: 2;
        background-color: var(--primary-color);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        transform: translateX(-85px) translateY(720px);
    }

    .hexagono7 {
        position: absolute;
        width: 400px;
        height: 315px;
        background-color: var(--primary-color);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        bottom: 8%;
        right: 0;
    }

    .habilidade_formação {
        position: relative;
        margin: auto;
        width: 80%;
        column-gap: 2rem;
    }

    .formacao_container,
    .habilidades_container {
        width: 100%;
    }

    .formacao,
    .habilidades {
        flex: 1 2 50%;
    }

    .conteudo_habilidades .tittle {
        text-align: end;
    }

    .habilidade-icon {
        flex-wrap: wrap;
        padding: 1.5rem .5rem;
        row-gap: 2rem;
        font-size: 1rem;
        flex-grow: 0;
        align-content: center;
    }

    .habilidade-icon li {
        width: 8rem;
        flex-grow: 0;
    }

    /* Trechos do código alterados*/

    .blog a img,
    .página-de-vendas a img,
    .portifolio a img {
        width: 400px;
    }

    .blog p,
    .blog p>strong,
    .página-de-vendas p,
    .página-de-vendas p>strong,
    .portifolio p,
    .portifolio p>strong {
        font-size: 1.3rem;
    }

    .slider {
        width: 400px;
        height: 320px;
    }

    .slide {
        width: 400px;
    }

    .slide img {
        width: 1200px;
    }

    .manual-navigation {
        margin-top: 450px;
    }

    .footer_content p {
        font-size: 1.3rem;
    }
}


@media screen and (min-width:48em) {

    .header_menu {
        margin-top: .4rem;
    }

    .logo {
        display: block;
        font-size: 1.5rem;
    }

    .logo-md {
        display: none;
    }

    nav ul li {
        padding: 0 .2rem;
    }

    nav ul li a,
    .link a {
        letter-spacing: .1rem;
        font-size: 1rem;
    }

    .retangulo {
        display: flex;
        margin: auto;
        justify-content: left;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .texto_retangulo {
        transform: translateX(30rem) translateY(1rem);
    }

    .texto_retangulo p {
        display: block;
        color: var(--primary-color);
        width: 14rem;
        height: 7rem;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .texto_retangulo p span {
        color: #ccc;
    }

    .texto-capa h2 {
        display: none;
    }

    .seta_curta {
        position: absolute;
        width: 3.5em;
        height: 95px;
        background-color: var(--primary-color);
        clip-path: polygon(0% 0%, 0% 75%, 50% 100%, 100% 75%, 100% 0%);
        transform: translateY(490px);
        left: 10%;
    }

    .educação {
        min-height: 389px;
        align-items: center;
    }

    .habilidade_formação {
        display: flex;
    }

    .habilidade-icon {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem;
        gap: 1rem .5rem;
        font-size: 1.2rem;
    }

    .habilidade-icon li {
        width: 7rem;
        flex-grow: 0;
    }

    .habilidade-icon li>img {
        width: 3rem;
    }

    .js_image img {
        width: 2rem;
    }

    .js p {
        font-size: 1rem;
    }

    /* Trecho do códigos alterados*/

    .blog a:nth-child(2),
    .página-de-vendas a:nth-child(2),
    .portifolio a:nth-child(2) {
        display: none;
    }
    
    .blog p,
    .blog p>strong,
    .página-de-vendas p,
    .página-de-vendas p>strong,
    .portifolio p,
    .portifolio p>strong {
        font-size: 1.5rem;
    }

    .blog a img,
    .página-de-vendas a img,
    .portifolio a img {
        width: 560px;
    }

    .tecnologias div>p {
        width: 6rem;
        padding: .1rem 0;
        font-size: 1rem;
    }

    .slider {
        width: 560px;
        height: 400px;
    }

    .slide {
        width: 560px;
    }

    .slide img {
        width: 1020px;
    }

    .manual-navigation {
        margin-top: 530px;
    }

    .parágrafo-blog p:nth-child(1),
    .parágrafo-página-de-vendas p:nth-child(1),
    .parágrafo-portifolio p:nth-child(1) {
        margin-top: 1rem;
    }

    /* Fim da alterção de códigos*/

    .contato_container {
        flex-direction: row;
        margin-top: 5rem;
        column-gap: 2rem;
    }

    .contato_texto {
        margin: 0;
    }

    .texto_links {
        margin-top: 0;
        bottom: 0;
        flex-direction: column;
        margin-right: 2rem;
    }

    .links {
        margin-top: 1.5rem;
    }

    .info_links {
        flex-direction: row;
        justify-content: space-between;
    }

    .info_links a {
        max-width: 130px;
        flex-grow: 2;
        align-content: center;
        padding: .5rem;
    }

    .formulario {
        margin-top: 0;
    }

    .hexagono6 {
        transform: translateX(-85px) translateY(780px);
    }
}


@media screen and (min-width:62em) {
    .logo {
        letter-spacing: .3rem;
        font-size: 1.3rem;
    }

    .header_menu {
        margin-top: .2rem;
    }

    nav ul li a,
    .link a {
        letter-spacing: .3rem;
        font-size: 1.1rem;
    }

    .texto_retangulo p {
        display: none;
    }

    .capa {
        display: flex;
        margin: auto;
        margin-top: 3rem;
        height: 70vh;
    }

    .capa_container {
        width: 80%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        gap: 1rem;
    }

    .capa_elementos {
        gap: .5rem;
        width: 40vw;
    }

    .img_logo img {
        transform: translateX(-115px) translateY(10px);
        width: 20rem;
    }

    .retangulo {
        transform: translateX(-90px) translateY(48px);
        height: 240px;
        clip-path: polygon(0% 0%, 93.5% 0%, 100% 50%, 93.5% 100%, 0% 100%);
    }

    .hexagono1 {
        width: 270px;
        height: 225px;
        transform: translateX(-95px);
    }

    .hexagono4 {
        right: 105px;
    }

    .texto-capa {
        min-width: min-content;
        text-align: right;
        padding-right: 3rem;
    }

    .texto-capa h1 {
        font-size: 2.8rem;
        margin-bottom: 1rem;
        color: var(--terciary-color);
    }

    .texto-capa h2 {
        display: block;
        font-size: 1.5rem;
    }

    .seta_longa {
        position: relative;
        width: 2.5rem;
        height: 275px;
        transform: translateY(2rem);
        background-color: var(--tertiary-color);
        clip-path: polygon(0% 0%, 0% 95%, 50% 100%, 100% 95%, 100% 0%);
    }

    .seta_curta {
        transform: translateY(490px);
    }

    .lg-7-12 {
        grid-column: 7/ 12;
        transform: translateX(-55px);
    }

    .sobre_foto img {
        width: 250px;
    }

    .habilidade_formação {
        column-gap: 4rem;
    }

    .educação {
        height: 0;
    }

    .habilidade-icon {
        padding: 1rem;
        gap: 1rem .5rem;
        font-size: 1rem;
    }

    .habilidade-icon li {
        width: 6rem;
    }

    .novas_habilidades {
        align-content: center;
    }

    .educação,
    .novas_habilidades,
    .info_section {
        min-height: 240px;
    }

    /* Trecho do códigos alterados*/

    .blog a:nth-child(1),
    .página-de-vendas a:nth-child(1),
    .portifolio a:nth-child(1) {
        display: none;
    }

    .blog a:nth-child(2),
    .página-de-vendas a:nth-child(2),
    .portifolio a:nth-child(2) {
        display: block;
    }

    .blog img,
    .página-de-vendas img {
        width: 500px;
    }

    .blog,
    .página-de-vendas {
        width: 500px;
    }

    .blog a img,
    .página-de-vendas a img {
        width: 500px;
    }

    .blog p,
    .blog p>strong,
    .página-de-vendas p,
    .página-de-vendas p>strong {
        font-size: 1.5rem;
    }

    .slider {
        width: 500px;
        height: 450px;
    }

    .slide {
        width: 500px;
    }

    .slide img {
        width: 1000px;
    }

    .manual-navigation {
        margin-top: 620px;
    }
}

@media screen and (min-width:80em) {

    .texto-capa {
        padding-right: 10rem;
    }

    .img_logo img {
        transform: translateX(-215px) translateY(10px);
    }

    .retangulo {
        transform: translateX(-190px) translateY(43px);
        height: 250px;
    }

    .hexagono1 {
        width: 270px;
        height: 225px;
        transform: translateX(-195px);
    }

    .hexagono2 {
        transform: translateX(-260px) translateY(160px);
    }

    .texto_links {
        margin-right: 5rem;
    }
}